
name: template_b2g_config
on: 
  workflow_dispatch:

# NEED  
# 1. secrets.GIT_ACCESS_TOKEN
# 2. secrets.RCLONE
# 3. device_name egï¼›onyx(oneplus x), bacon(oneplus one), phhgsi_arm64_a(phh's gsi) etc.
#     out/device_name
# 4. build_device_tag: eg: full-onyx-eng, full-bacon-userdebug etc.
#    gsi-build.sh build_device_tag
# 5. repo_dispatches: https://api.github.com/repos/(you id)/(you repo name)/dispatches
# 6. b2g_source: 
#         remote soucre address
# for example:
env:
  GIT_ACCESS_TOKEN: ${{secrets.GIT_ACCESS_TOKEN}}
  device_name: aosp_arm64
  repo_dispatches: "https://api.github.com/repos/b2g-gsi/build-actions/dispatches"
  b2g_source: "https://github.com/b2g-gsi/B2G"
  b2g_branch: "gsi_q"
  build_device_tag: aosp_arm64
  device_arch: aarch64-linux-android
#onyx
#phhgsi_arm64_a  
#phhgsi_arm64_ab
#phhgsi_arm_a 
#phhgsi_arm_ab  
#RUST_TARGET := armv7-linux-androideabi

jobs: 
  config:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Action        
      run: |
        ./b2g/init/webhook.sh b2g_repack
        #b2g_repack    b2g_aosp_build b2g_gecko_build b2g_api_daemon_build
